*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
h1{
    text-align: center;
    color: white;
    background-color: rgba(0, 0, 0, .5);
    width: fit-content;
    margin: 10px auto;
    padding: 10px;
    border-radius: 10px;
}
table{
    background-color: rgba(255, 255, 255, .7);
    border-radius: 10px;
    margin-bottom: 20px;
}
table th{
    border-bottom: 1px solid black;
    padding: 10px 0px;
    border-top: 1px solid black;
    border-right: 1px solid black;
}
table th:nth-child(3){
    border-right: none;
}
table td{
    border-bottom: 1px solid black;
    border-right: 1px solid black;
    padding: 10px;
    text-align: center;
}
table td:nth-child(3){
    border-right: none;
}